.bg-color {
  background-color: #303850;
}

.symbol {
  font-size: 32px;
  margin-bottom: 4px;
  padding: 0 4px;
}

.first-row {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 20px;
}

.second-row {
  font-size: 16px;
  line-height: 16px;
}

.nav-link {
  font-size: 16px;
  margin: 0 14px;
}

@media screen and (max-width: 992px) {
  .vr {
    display: none;
  }
}
