<nav class="navbar navbar-expand-lg navbar-dark bg-color">
  <div class="container">
    <a class="navbar-brand p-0" href="/about">
      <div class="d-flex justify-content-center align-items-center">
        <span class="symbol">&#9001;</span>
        <div class="text-center">
          <div class="first-row">ROCKER</div>
          <div class="second-row">DEVELOPER</div>
        </div>
        <span class="symbol">&#9002;</span>
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">{{
            traducao.obterTraducao("navbar.about") | uppercase
          }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/experience"
            routerLinkActive="active"
            >{{ traducao.obterTraducao("navbar.experience") | uppercase }}</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/portfolio"
            routerLinkActive="active"
            >{{ traducao.obterTraducao("navbar.portfolio") | uppercase }}</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">{{
            traducao.obterTraducao("navbar.contact") | uppercase
          }}</a>
        </li>
        <div class="vr text-white mx-2"></div>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">{{
            traducao.obterTraducao("navbar.blog") | uppercase
          }}</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="alterarIdioma()">
            <img
              [src]="
                englishTranslation
                  ? '../../../assets/flag-bra.png'
                  : '../../../assets/flag-usa.png'
              "
              height="28px"
            />
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
