<div class="portfolio">
  <div class="container">
    <div class="row mb-4">
      <h1 class="title mt-5 mb-4">Projects</h1>
      <div class="col-12 col-md-6">
        <div class="card m-4">
          <video
            controls
            width="100%"
            src="../../../assets/shopping-cart-demo.mp4"
          ></video>
          <div class="card-body">
            <h5 class="card-title fw-bold">Shopping Cart</h5>
            <p class="card-text">
              Shopping Cart project demonstrates the implementation of a fully
              functional e-commerce website with features like adding and
              removing products from the cart and calculating totals.
            </p>
            <p style="font-size: 14px">
              Angular - RxJs - HTML - CSS - Bootstrap - HTTP Client
            </p>
            <a
              href="https://github.com/ricardorocker/angular-shopping-cart"
              target="_blank"
              ><button class="button-submit-dark w-100">
                Go Github
              </button></a
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card m-4">
          <video
            controls
            width="100%"
            src="../../../assets/loan-calculator-bra.mp4"
          ></video>
          <div class="card-body">
            <h5 class="card-title fw-bold">Loan Calculator</h5>
            <p class="card-text">
              App to calculate loan payments with simple interest. It provides
              an intuitive user interface for inputting loan details and
              displays the calculated results along with a graphical
              representation.
            </p>
            <p style="font-size: 14px">
              Anngular - HTML5 - CSS3 - JsonServer - HTTP Request
            </p>

            <a
              href="https://github.com/ricardorocker/loan-calculator"
              target="_blank"
              ><button class="button-submit-dark w-100">
                Go Github
              </button></a
            >
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card m-4">
          <video
            controls
            width="100%"
            src="../../../assets/card-game-crud-bra.mp4"
          ></video>
          <div class="card-body">
            <h5 class="card-title fw-bold">Card Game CRUD</h5>
            <p class="card-text">
              Optimized project structure: streamlined folders, Components
              (default-layout, card-game), Views (home, register-card), Services
              (localStorage requests), Models (cards.ts), Enums
              (classes.enum.ts, types.enum.ts).
            </p>
            <p style="font-size: 14px">
              Anngular - HTML5 - CSS3 - Bootstrap - LocalStorage - Enum
            </p>

            <a
              href="https://github.com/ricardorocker/cards-game-crud"
              target="_blank"
              ><button class="button-submit-dark w-100">
                Go Github
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
