<div class="container">
  <div class="row mb-4">
    <h1 class="title mt-5 mb-4">Projects</h1>
    <div class="col-12 col-md-6">
      <div class="card mb-5">
        <video
          controls
          width="100%"
          src="../../../assets/shopping-cart-demo.mp4"
        ></video>
        <div class="card-body">
          <h5 class="card-title fw-bold">Shopping Cart</h5>
          <p class="card-text">
            Shopping Cart project demonstrates the implementation of a fully
            functional e-commerce website with features like adding and removing
            products from the cart and calculating totals.
          </p>
          <p style="font-size: 14px">
            Angular - RxJs - HTML - CSS - Bootstrap - HTTP Client
          </p>
          <a
            href="https://github.com/ricardorocker/angular-shopping-cart"
            target="_blank"
            class="btn btn-dark w-100"
            >Go Github</a
          >
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <h5 class="card-title fw-bold">Loan Calculator</h5>
          <p class="card-text">Developing... for while just o github.</p>
          <p style="font-size: 14px">
            Anngular - HTML5 - CSS3 - Java - Quarkus - Hibernate
          </p>
          <a
            href="https://github.com/ricardorocker/loan-calculator"
            target="_blank"
            class="btn btn-dark w-100"
            >Go Github</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
