<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="title mt-5 mb-4">Projects</h1>
      <div class="card" style="width: 18rem">
        <!-- <img src="..." class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <h5 class="card-title fw-bold">Loan calculator</h5>
          <p class="card-text">Developing... for while just o github.</p>
          <a
            href="https://github.com/ricardorocker/loan-calculator"
            target="_blank"
            class="btn btn-dark"
            >Go Github</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
