iframe {
  width: 100%;
  height: 1250px;
}

.title {
  color: #0a2670;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
}

.button-link {
  background-color: #081741;
  width: 100%;
  height: 60px;
  margin-top: 14px;
  font-size: 14px;
  border: 0.1px solid #081741;
  color: white;
}
