<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="title mt-5 mb-4">Resume</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-none d-md-block">
      <iframe
        src="../../../assets/ricardo-rocker-usa.pdf"
      ></iframe>
    </div>
    <div class="col-12 d-md-none">
      <img src="../../../assets/ricardo-rocker-usa.jpg" width="100%" />
      <a
        href="../../../assets/ricardo-rocker-usa.pdf"
        download
      >
        <button class="button-link">DOWNLOAD PDF</button>
      </a>
    </div>
  </div>
</div>
