<div class="d-flex banner">
  <div class="container top-container d-flex text-light">
    <div class="row align-items-center mobile-layout">
      <div class="col-12">
        <div class="name">
          <div class="description">Hi, my name is</div>
          <div class="h2 fw-bold">RICARDO ROCKER</div>
          <div class="description">Angular Web Developer</div>
        </div>
        <button
          class="button-submit-light text-light"
          [routerLink]="['/contact']"
        >
          GET IN TOUCH
        </button>
      </div>
      <div class="mobile-image">
        <img src="../../../assets/mobile-profile.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="title mt-5 mb-4">ABOUT</div>
  <p>
    My name is Ricardo Rocker. I’m a frontend software engineer since Jan/21 --
    with roots using Angular and Bootstrap. I'm passionate about music,
    technology and hangout with my wife and friends to the beach.
  </p>
  <p>
    I am a skilled Angular Frontend Developer with a proven track record in
    crafting dynamic, user-centric web applications.
  </p>
  <p>
    Proficient in Angular, RxJS, HTML, CSS, Bootstrap, HTTP Client,
    Microfrontend, agile methodology, and GIT.
  </p>
  <p>
    Committed to delivering exceptional user experiences, collaborating with
    cross-functional teams, and consistently meeting project milestones.
  </p>
  <p>
    Eager to leverage expertise to drive innovation and create responsive,
    efficient web solutions.
  </p>
</div>
