.banner {
  background-color: #303850;
  background-size: cover;
  background-position: 56% 0;
  height: 600px;
  align-items: center;
  position: relative; 
}

.profile-image {
  position: absolute;  
  top: 70px;
  left: 55%;
  transform: translate(0, -50%);
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}

.description {
  font-size: 21px;
  line-height: 42px;
}

.type-1 {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.type-2 {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.h2 {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: .7s;
}

.fw-bold {
  font-size: 42px;
  line-height: 42px;
  margin: 0;
  font-family: sans-serif;
}

.typed-element {
  font-size: 21px;
  font-weight: bold;
  color: #00E2EA;
}

.icons a {
  margin-right: 21px;
  transition: .5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.button-submit-blue {
  width: 210px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

p {
  font-size: 16px;
  line-height: 28px;
  padding: 6px 0;
}

.icons img,
.icon img {
  height: 35px;
}

.icons img:hover,
.icon img:hover {
  transform: scale(1.2);
}


@media screen and (max-width: 1000px) {
  .profile-image img {
    width: 400px;
  }
}

@media screen and (min-width: 992px) {
  .fw-bold {
    font-size: 54px;
    line-height: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .fw-bold {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .fw-bold {
    font-size: 28px;
    line-height: 28px;
  }
}

@media screen and (max-width: 555px) {
  .fw-bold {
    font-size: 38px;
    line-height: 38px;
  }

  .button-submit-blue {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 28px;
  }
  
  .button-submit-dark {
    width: 100%;
  }

  .col-12 {
    margin-top: 70px;
  }

  img {
    max-width: 100%;
  }

  .banner {
    background-image: none;
    background-color: #303850;
    flex-direction: column; 
    justify-content: flex-end; 
    height: auto;
  }

  .profile-image {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    transform: none; 
    margin-top: 14px; 
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
