<div class="bg-color text-dark">
  <div class="container top-container">
    <div class="row align-items-center mobile-layout">
      <div class="col-7">
        <div class="name">
          <div class="description">Hi, my name is</div>
          <div class="h2 fw-bold">RICARDO ROCKER</div>
          <div class="description">Angular Web Developer</div>
        </div>
        <button class="button-link text-dark" [routerLink]="['/experience']">
          RESUME
        </button>
        <!-- <button class="button-link text-dark" [routerLink]="['/contact']">
          GET IN TOUCH
        </button> -->
      </div>
      <div class="col-5">
        <img src="../../../assets/profile-about.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
<div class="container mb-5">
  <div class="h1 mt-5 mb-4 about">ABOUT</div>
  <p>
    My name is Ricardo Rocker. I’m a frontend software engineer since Jan/21 -- with roots
    using Angular and Bootstrap. I'm passionate about music, technology and
    hangout with my wife and friends to the beach.
  </p>
  <p>
    I am a skilled Angular Frontend Developer with a proven track record in
    crafting dynamic, user-centric web applications.
  </p>
  <p>
    Proficient in Angular, RxJS, HTML, CSS, Bootstrap, HTTP Client,
    Microfrontend, agile methodology, and GIT.
  </p>
  <p>
    Committed to delivering exceptional user experiences, collaborating with
    cross-functional teams, and consistently meeting project milestones.
  </p>
  <p>
    Eager to leverage expertise to drive innovation and create responsive,
    efficient web solutions.
  </p>
</div>
