.banner {
  background-image: url("../../../assets/banner.png");
  background-size: cover;
  background-position: 56% 0;
  height: 600px;
  align-items: center;
}

.mobile-image {
  display: none;
}

.description {
  font-size: 18px;
  line-height: 42px;
}

.fw-bold {
  font-size: 42px;
  line-height: 42px;
  margin: 0;
  font-family: sans-serif;
}

.button-submit-light {
  width: 210px;
}

p {
  font-size: 16px;
  line-height: 28px;
  padding: 6px 0;
}

.icon img {
  height: 35px;
}

.icon img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 992px) {
  .fw-bold {
    font-size: 54px;
    line-height: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .fw-bold {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .fw-bold {
    font-size: 28px;
    line-height: 28px;
  }
}

@media screen and (max-width: 555px) {
  .fw-bold {
    font-size: 38px;
    line-height: 38px;
  }

  .button-submit-light {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 28px;
  }
  
  .button-submit-dark {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  .banner {
    background-image: none;
    background-color: #303850;
    flex-direction: column; 
    justify-content: flex-end; 
  }

  .mobile-image {
    display: flex;
  }
}
