<div class="d-flex banner">
  <div class="container top-container d-flex text-light">
    <div class="row align-items-center mobile-layout">
      <div class="col-12">
        <div class="name">
          <div class="description type-1">Hi, my name is</div>
          <div class="h2 fw-bold">RICARDO ROCKER</div>
          <div class="description type-2">
            And I'm a<span class="typed-element"></span>
          </div>
          <div class="social-media icons d-flex my-4">
            <a
              href="https://github.com/ricardorocker"
              target="_blank"
              style="--i: 7"
              ><img src="../../../assets/github-white.png"
            /></a>
            <a
              href="https://www.instagram.com/ricardorocker.developer/"
              target="_blank"
              style="--i: 8"
              ><img src="../../../assets/instagram-white.png"
            /></a>
            <a
              href="https://www.linkedin.com/in/ricardo-s-rocker/"
              target="_blank"
              style="--i: 9"
              ><img src="../../../assets/linkedin-white.png"
            /></a>
            <a
              href="https://www.youtube.com/@ricardorocker.developer"
              target="_blank"
              style="--i: 10"
              ><img src="../../../assets/youtube-white.png"
            /></a>
            <a
              href="https://wa.me/55083991222886"
              target="_blank"
              style="--i: 11"
              ><img src="../../../assets/whatsapp-white.png"
            /></a>
          </div>
        </div>
        <button class="button-submit-blue" [routerLink]="['/contact']">
          GET IN TOUCH
        </button>
      </div>
    </div>
  </div>
  <div class="profile-image">
    <img src="../../../assets/profile.png" />
  </div>
</div>
<div class="container content mb-5">
  <div class="title mt-4">About</div>

  <div class="profile">
    <div class="subtitle mt-2 mb-2">Profile</div>
    <p>
      Hello, I'm Ricardo Rocker, a dedicated Frontend Software Engineer with a
      strong passion for music, technology, and spending quality time with my
      wife and friends at the beach.
      <br /><br />
      I have been in the software development field since <b>January 2021</b>,
      specializing in crafting dynamic, user-centric web applications.
    </p>
  </div>

  <div class="skills">
    <div class="subtitle mt-4 mb-2">Skills</div>
    <p>
      I possess a comprehensive skill set that includes expertise in Angular,
      RxJS, HTML, CSS, Bootstrap, HTTP Client, Microfrontend development, agile
      methodology, and GIT.
      <br /><br />
      With these skills, I consistently deliver exceptional user experiences
      while collaborating with cross-functional teams and ensuring project
      milestones are met.
    </p>
  </div>

  <div class="skills">
    <div class="subtitle mt-4 mb-2">Education</div>
    <p>
      I hold a postgraduate degree in Software Engineering, a bachelor's degree
      in Accounting Sciences, and a diploma in Business Process Management.
      <br /><br />
      My diverse educational background equips me with a unique perspective that
      allows me to approach development projects with a well-rounded skill set.
    </p>
  </div>

  <div class="skills">
    <div class="subtitle mt-4 mb-2">Content Creation</div>
    <p>
      In addition to my work as a Frontend Developer, I also create engaging and
      informative content. You can find a wealth of valuable content, including
      video tutorials, insights, and curiosities, on my social media profiles.
      <br /><br />
      Simply click on the social media icons below to explore my Instagram and
      YouTube channels, where you'll find a variety of resources related to
      frontend development and technology.
    </p>
  </div>
  <div class="social-media d-flex pb-3">
    <div class="icon me-3">
      <a href="https://github.com/ricardorocker" target="_blank"
        ><img src="../../../assets/github-light-blue.png"
      /></a>
    </div>
    <div class="icon me-3">
      <a
        href="https://www.instagram.com/ricardorocker.developer/"
        target="_blank"
        ><img src="../../../assets/instagram-light-blue.png"
      /></a>
    </div>
    <div class="icon me-3">
      <a href="https://www.linkedin.com/in/ricardo-s-rocker/" target="_blank"
        ><img src="../../../assets/linkedin-light-blue.png"
      /></a>
    </div>
    <div class="icon me-3">
      <a href="https://www.youtube.com/@ricardorocker.developer" target="_blank"
        ><img src="../../../assets/youtube-light-blue.png"
      /></a>
    </div>
    <div class="icon me-3">
      <a href="https://wa.me/55083991222886" target="_blank"
        ><img src="../../../assets/whatsapp-light-blue.png"
      /></a>
    </div>
  </div>

  <div class="skills">
    <div class="subtitle mt-4 mb-2">Why Choose Me?</div>
    <p>
      If you're looking for the best Angular Frontend Developer, I'm the ideal
      choice. With a proven track record of building dynamic and user-centric
      web applications, a commitment to delivering exceptional user experiences,
      and a strong background in software engineering and related fields, I have
      the expertise needed to drive innovation and create responsive, efficient
      web solutions.
      <br /><br />
      I'm ready to bring your development projects to life and help you achieve
      your goals.
    </p>
  </div>

  <div class="skills">
    <div class="subtitle mt-4 mb-2">Ready to Elevate Your Web Development?</div>
    <p>
      Let's create something amazing together. Click the button below to get in
      touch and start your journey to web development excellence.
    </p>
  </div>

  <button class="button-submit-dark" [routerLink]="['/contact']">
    GET IN TOUCH
  </button>
</div>
